@import 'sanitize.css/sanitize';
$article-text-color: #fafafa;
$article-background-color: rgba(0, 0, 0, .8);
$article-link-text-color: #fff;
$article-link-visited-text-color: #fff;
$article-link-hover-text-color: #fff;
$article-link-focus-text-color: #fff;
$published-at-text-color: #fafafa;
$footer-hr-background-color: #fafafa;
$logo-text-color: #fafafa;
$inline-code-backgroud-color: #eee;
$inline-code-text-color: #000;
$inline-code-border-color: #ccc;

@import '../css/*';
