@import 'sanitize.css/sanitize';
$article-text-color: #fafafa;
$article-background-color: rgba(0, 0, 0, .8);
$article-link-text-color: #fff;
$published-at-text-color: #fafafa;
$footer-hr-background-color: #fafafa;
@import '../css/*';
