.pagination {
  list-style: none;
  margin: -140px auto 40px;
  max-width: 720px;
  padding: 0;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  li {
    $background-color: #fff;
    $box-shadow-color: #ccc;
    align-items: center;
    background-color: $background-color;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 $box-shadow-color;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
  }

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}
