.logo {
  &__text {
    display: block;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 18px 0 0;
  }

  a {
    color: $logo-text-color;
    text-decoration-line: none;


    &:hover,
    &:focus,
    &:visited {
      color: $logo-text-color;
    }
  }
}
