<!DOCTYPE html>
<html>
<head>
  <title>Terrace</title>
  <%= stylesheet_link_tag    "terrace/application", media: "all" %>
  <%= javascript_include_tag "terrace/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
