.articles {
  .form {
    width: 770px;
    .field {
      width: 100%;
      input, textarea {
        width: 100%;
      }
    }

  }
  .content_field {
    max-width: 100%;
  }
}

.articles-table {
  tbody {
    text-align: left;
  }

  td, th {
    max-width: 350px;
  }

  .shipped {
  }

  .draft {
    background-color: #ccc;
  }

  .hide {
    display: none;
  }

  .field {
    width: 100%;
    min-height: 12px;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
    }
  }
}
