.articles {
  .form {
    width: 770px;
    .field {
      width: 100%;
      input, textarea {
        width: 100%;
      }
    }

  }
  .content_field {
    max-width: 100%;
  }
}

.articles-table {
  tbody {
    text-align: left;
  }
  .shipped {
  }
  .draft {
    background-color: #ccc;
  }
}
