.article_nav {
  .search-form {
    display: flex;

    div {
      padding-right: 1rem;
    }

    input[type="radio"] {
      margin: auto;
    }

    .radio-button-label {
      padding: 0 .5rem;
    }

    .submit-field {
      margin: auto 0;
    }
  }

  .search_tabs {
    display: flex;
    padding-left: 0;
  }

  .tab {
    padding-right: 1rem;
  }
}
