.article_nav {
  .search_form {
    display: flex;

    div {
      margin-right: .5rem;
    }
  }

  .search_tabs {
    display: flex;
    padding-left: 0;
  }

  .tab {
    padding-right: 1rem;
  }
}
