.global-menu {
  display: flex;
  padding: 3.3rem 3.3rem 1rem;

  .select {
    margin: 0;
    padding-right: 1rem;
  }

  .tabs {
    display: flex;
    margin: 0;
  }

  .tab {
    padding-right: .5rem;
  }
}
