
<p>
  <strong>User:</strong>
  <%= @user_site.user.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @user_site.site.domain %>
</p>

<%= link_to 'Edit', edit_user_site_path(@user_site) %> |
<%= link_to 'Back', user_sites_path %>
