<header class="header">
  <div class="logo">
    <h1><a href='/'>dreamin' blog</a></h1>
  </div>
</header>

<% @articles.each do |article| %>
  <%= render "terrace/article", article: article %>
<% end %>

<footer class="footer">
  <hr />
  <p>copyright &copy; <%= Time.current.year %> koheisg All Rights Reserved.</p>
</footer>
