<% content_for 'title' do %>
  <title><%= @article.title %></title>
<% end %>

<header class="header">
  <div class="logo">
    <h1><a href='/'>dreamin' blog</a></h1>
  </div>
</header>

<%= render "terrace/article", article: @article %>

<footer class="footer">
  <hr />
  <p>copyright &copy; <%= Time.current.year %> koheisg All Rights Reserved.</p>
</footer>
