<% content_for 'title' do %>
  <title><%= @article.title %></title>
<% end %>

<header class="header">
  <div class="logo">
    <h2 class="logo__text"><a href='/'>dreamin' blog</a></h2>
  </div>
</header>

<%= render "terrace/article", article: @article, heading_level: "h1" %>

<footer class="footer">
  <hr />
  <p>copyright &copy; <%= Time.current.year %> koheisg All Rights Reserved.</p>
</footer>
